@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(25, 25, 74);
  color: white;
}
* {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.heading-box{
     animation: animate 1s ease-in-out infinite alternate;
}
@keyframes animate{
  from{
    text-shadow: 0 0 10px #f3dce5;
  }
  to{
    text-shadow: 0 0 30px #f3dce5,
                0 0 10px #f3dce5;
  }
}